.before-after {
  background-color: @bg-grey;
}

.before-after__wrapper {
  padding: 0 20px 34px 20px;
}

.before-after__title {
  font-family: @oswald-regular;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  color: @black1;
  margin: 0;
  margin-bottom: 23px;
  padding-top: 17px;
}

.before-after__text {
  font-family: @arial;
  font-size: 14px;
  line-height: 18px;
  color: @black4;
  margin: 0;
  margin-bottom: 25px;
  padding-right: 1px;
}

.before-after__list {
  .reset-list;
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
}

.before-after__image {
  left: -19px;
  top: -3px;
  position: relative;
  margin-top: 37px;
  margin-bottom: 25px;
  width: 320px;
  height: 240px;

  &--after {
    display: none;
  }
}

.before-after__price {
  font-family: @oswald-regular;
  font-size: 14px;
  line-height: 20px;
  color: @black1;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-left: 3px;
}

.before-after__image-wrapper {
  width: 280px;
  overflow: hidden;
}

@media (min-width: @tablet-width) {
  .before-after {
    background-color: #ffffff;
    background-image: linear-gradient(white 0%, white 57%, @bg-grey 57%, @bg-grey 100%);
  }

  .before-after__wrapper {
    padding: 0 30px;
    border-top: 1px solid #e6e6e6;
    padding-bottom: 70px;
  }

  .before-after__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 42px;
    margin-bottom: 65px;
  }

  .before-after__text {
    font-size: 16px;
    line-height: 24px;
    width: 700px;
    margin-bottom: 52px;
  }

  .before-after__price-wrapper {
    display: flex;
  }

  .before-after__item {
    margin-right: 40px;
  }

  .before-after__price {
    margin: 0;
    margin-left: auto;
    font-size: 20px;
    width: 192px;
    text-align: right;
    padding-top: 8px;
    line-height: 29px;
  }

  .before-after__image {
    width: 690px;
    height: auto;
    margin: 0 auto;
    left: 18px;
    top: 3px;
    margin-top: 53px;
    margin-bottom: 20px;
  }

  .before-after__image-wrapper {
    width: 690px;
    overflow: hidden;
  }
}

@media (min-width: @desktop-width) {
  .before-after {
    padding-bottom: 64px;
    background-image: linear-gradient(white 0%, white 29%, @bg-grey 29%, @bg-grey 100%);
  }

  .before-after__wrapper {
    padding: 0 40px;
    display: flex;
    min-height: 590px;
    border: none;
  }

  .before-after__desktop-column-wrapper {
    width: 50%;
  }

  .before-after__title {
    margin-bottom: 146px;
    padding: 0;
    padding-top: 57px;
  }

  .before-after__text {
    margin-bottom: 68px;
    width: 435px;
  }

  .before-after__image {
    margin: 0;
    left: -41px;
    margin-bottom: 39px;
  }

  .before-after__image-wrapper {
    width: 610px;
    height: 517px;
    overflow: hidden;
    margin-bottom: 43px;
  }

  .before-after__price-wrapper {
    width: 435px;
    flex-wrap: wrap;
  }

  .before-after__price {
    width: 435px;
    text-align: left;
  }

  .before-after__price-value {
    margin-left: 59px;
  }

  .before-after__list {
    margin-bottom: 48px;
  }
}
